# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\comp4388-1182089\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
